
        
        <%- include("partials/navbar", {title:"online Courses |Intern Theory", 
        css_href:"css/online.css"}) %>

    <div id="maindiv">
        <div id="heading">
            <img src="https://assets.interntheory.com/creative/courses/listpage/Course-banner1.png">
        </div>
        <div class="intro">
          <h4>Certified Online Courses</h4>
          <p>Upgrade your skills with Intern Theory's online learning platform. Enrol for any certified online 
              courses and get a step ahead of competition. Select from a range of skill based online courses and 
              kickstart your career.
          </p>
      </div>
    </div>
    <div id="details">
      <div id="online_course">
       <% courses_data.forEach(function(el){ %>
            
            <div>
                <img src=<%= el.image_url %> />
                <p class="p_name"><%= el.course_name %> </p>
                <p class="p_des"><%= el.description %></p>
                <p class="p_line">--------------------------------------------</p>
                <p class="p_price"> ₹ <%= el.price %></p>
                <p class="p_emi">EMI Starting At ₹ <%= el.emi %> /month</p>
                <button name="btn" onclick="reply_click(this.id)" class="button" id=<%= el._id %>>ADD TO CART</button>
                <button class="button1">KNOW MORE</button>
            </div>
       <% }) %>
       </div>
    </div>
    <div>
    </div>

    <div id="main">
      <div id="content">
           <div id="upper_part">
               <div id="image">
                   <img src="https://image.flaticon.com/icons/png/512/220/220200.png"/>
                   <img src="https://image.flaticon.com/icons/png/512/1409/1409945.png"/>
                   <img src="https://image.flaticon.com/icons/png/512/124/124021.png"/>
                   <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png"/>
               </div>
               <div id="place">
                   <h4>BY PLACE</h4>
                   <p>Internships In Mumbai</p>
                   <p>Internships In Delhi</p>
                   <p>Internships In Bangalore</p>
                   <p>Internships In Pune</p>
                   <p>Internships In Hyderabad</p>
               </div>
               <div id="profile">
                       <h4>BY PROFILE</h4>
                       <p>Marketing Internships</p>
                       <p>Business Development Internships</p>
                       <p>Content Writing Internships</p>
                       <p>Graphic Designing Internships</p>
                       <p>HR Internships</p>
                       <p>Engineering Internships</p>
               </div>
               <div id="type">
                   <h4>BY TYPE</h4>
                   <p>Full Time Internships</p>
                   <p>Part Time Internships</p>
                   <p>Work From Home Internships</p>
               </div>
           </div>
           <div id="lower_part">
               <div id="detail">
                   <h3>FIND INTERNSHIP</h3>
                   <h3>POST INTERNSHIP</h3>
                   <h3>COURSES</h3>
                   <h3>TERMS AND CONDITIONS</h3>
                   <h3>PRIVACY POLICY</h3>
                   <h3>CONTACT US</h3>
                   <h3>ABOUT US</h3>
                   <h3>SITEMAP</h3>
               </div>
               <div id="year">
                   <h3>© 2015 - 2021 INTERNTHEORY. ALL RIGHTS RESERVED.</h3>
               </div>
           </div>
     </div>
  </div> 
     <script>

  localStorage.setItem("cart_items",JSON.stringify([]))

  function reply_click(clicked_id)
  {

      let cart_data=JSON.parse(localStorage.getItem("cart_items"))

      var temp = cart_data;
      console.log(temp.length);

        for(var i = 0; i <= temp.length; i++){
            console.log("for")
        if(clicked_id == temp[i]){
            console.log("if")
            alert("already added");
        }else{
            console.log("else")
            cart_data.push(clicked_id);
        localStorage.setItem("cart_items" ,JSON.stringify(cart_data))   
     }

  }
  }
  

//    function add_to_cart(course){
//    console.log(course)
 
//    }

    // btn3.addEventListener('click', ()=>{
    //     var cart_btn = document.getElementsByName("btn");
    //    console.log("hi")
    //     cart_btn.forEach((element)=>{
    //         if(element.checked){
    //         console.log(element.value);
    //     }
    //     })
    // }) 
//    cart_btn.addEventListener("click", function() {
//        console.log(cart_btn);
//     })
// //    

    // function add_cart(){
    //      console.log("Hi");
        
    //     }
      // converting course into json
    // var course_obj=JSON.stringify(course);
    // localStorage.setItem("mycourse" ,course_obj)

      // now getting item from local storage

   //   var mycourse =localStorage.getItem("mycourse")
   //   var onlinecourse=JSON.parse(mycourse)
     
// showcourse();
  //  if(localStorage.getItem("course_cart"==null)){
     
       // localStorage.setItem("course_cart",JSON.stringify([]))


   // }
    //   function add_to_cart(course){
    //   console.log(course)
    // let cart_data=JSON.parse(localStorage.getItem("course_cart"))
    //  cart_data.push(course);
    //  localStorage.setItem("course_cart" ,JSON.stringify(cart_data))

    //   }

            document.getElementById("img3").addEventListener("click" ,function(){
                location.href="http://localhost:2345/Cart"
            })


            document.getElementById("img2").addEventListener("click" ,function(){
                location.href="http://localhost:2345/InternTheory"
            })

            document.getElementById("img1").addEventListener("click" ,function(){
        location.href="http://localhost:2345/AllInternships.html"
    })


    

    </script>

  </body>
  </html>