
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <title>Internship and Online courses for College Students|Intern Theory </title>

    <link rel="stylesheet" href="css/Home.css">
</head>

<body>
    <header>
        <div id="navbar">
            <img src="https://image.flaticon.com/icons/png/512/1828/1828859.png" id="img1" />
            <img src="https://assets.interntheory.com/creative/logo.png" id="img2" />
            <button><a  style="color: white;text-decoration: none";
                href="login_student.html">SIGN IN</a></button>
             <img src="https://image.flaticon.com/icons/png/512/4297/4297127.png" id="img3" />

        </div>
    </header>
    <div id="main-container">

        <div id="box1">
            <div class="box1_content">
                <div class="coffee_img1">
                    <h2>Let's Get You <b id="a2"> Ready</b></h2>
                    <p id="a3"> The One Stop Upgrade Your Resume.Expand Your Skillset.Do An
                        Internship.Get Placed.</p>
                  <div id ="preference" style="margin-top: 50px">
                    <div id="part1">
                        <select class="cities" id="a5">
                            <option value="">Cities..</option>
                            <option value="">All Cities</option>
                            <% cities_data.forEach(function(element){ %>
                            <option class="city" value=<%= element.city_name %> ><%= element.city_name %></option>
                            <% }) %>
                        </select>
                        
                        <select class="type" id="a6">
                            <option value="">Type..</option>
                            <% types_data.forEach(function(element){ %>
                            <option value = <%= element.type %> ><%= element.type %></option>
                            <% }) %>
                        </select>

                        <select class="coursepref" id="a7">
                            <option>Preference..</option>
                            <% category_data.forEach(function(element){ %>
                            <option value = <%= element.category %>><%= element.category %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div id="right">
                        <div id="part2">
                            <input type="search" placeholder="Search" id="a8"/>
                        </div>
                        <div id="srh">
                            <button id="srhbtn">SEARCH</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box1 div ends -->



    <div id="box2">
        <div id="box2_text">
            <h2>PLETHORA OF OPPORTUNITIES <b id="b1">FOR YOU</b></h2>
            <!-- <p>_____________________________________________________________________________________</p> -->
            <p>We are on a mission to connet employers to young talent all over India .With our strong coperate network
                ,it will no longer be a challenge to find the right internship for you. </p>
        </div>
        <div class="logobox">
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-1.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-2.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-3.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-4.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-5.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-6.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-7.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-8.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-9.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-10.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-11.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-12.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-13.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-14.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-15.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-16.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-17.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-18.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-19.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-20.png"></div>
        </div>
    </div>


    <div id="Exp-box">
        <h1 id="b2">
            LET'S GET SOME <b id="b3">WORK EXPERIENCE</b></h1>
        <div id="internship">
            <div><img src="https://assets.interntheory.com/creative/home-internships/Marketing-Icon.jpg"></div>
            <div><img src="https://assets.interntheory.com/creative/home-internships/BD.jpg"></div>
            <div><img src="https://assets.interntheory.com/creative/home-internships/Content-Writing.jpg"> </div>
            <div><img src="https://assets.interntheory.com/creative/home-internships/Graphic.jpg"></div>
            <div><img src="https://assets.interntheory.com/creative/home-internships/Finance.jpg"></div>
            <div><img src="https://assets.interntheory.com/creative/home-internships/HR.jpg"></div>
            <div><img src="https://assets.interntheory.com/creative/home-internships/Eng.jpg"></div>
            <div id="All-Internships"><img src="https://assets.interntheory.com/creative/home-internships/All-Internships.jpg"></div>
        </div>
    </div>

    <div class="coursebox_main">
        <h1>HOW ABOUT <b id="b4">UPSKILLING ?</b></h1>

        <div id="coursebox1"></div>
        <div id="coursebox2"></div>
        <div id="coursebox3"></div>
    </div>

    <div id="img11">
        <img id="c1" src="https://assets.interntheory.com/creative/chart.png" />
    </div>

    <div class="image_text">
        <div class="text1">
            <h1>WE ARE CONSTANTLY <b id="b5">GROWING</b></h1>
            <p>_________________________________________________________________</p>
            <p>we are on a mission to help every student in India.Upgrading your CV and getting you a meaningful job
                remains our sole motive and we not stopping anytime soon.</p>
        </div>

    </div>

     <section id="testimonial">

        <div id="amani" class="slide">

            <div>
                <div class="testimage">
                    <img id="c2"
                        src="https://assets.interntheory.com/img/testimonial-image/in3.jpg">

                    <h5>Amani Nagda</h5>
                    <span>Intern at Viacomn 18</span>
                </div>
                <div class="testtext">
                    <p>"i was on a look out for an internship to spend my summer productively and istumbled upon inter
                        Theory. Their team was very kind and kept me updated . I applied for viacom 18 and got through
                        .I thank Intern Theory team for giving me this Opportunity". </P>
                </div>
            </div>
        </div>
               </section>
        </div>

        <div id="main">
            <div id="content">
                 <div id="upper_part">
                     <div id="image">
                         <img src="https://image.flaticon.com/icons/png/512/220/220200.png"/>
                         <img src="https://image.flaticon.com/icons/png/512/1409/1409945.png"/>
                         <img src="https://image.flaticon.com/icons/png/512/124/124021.png"/>
                         <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png"/>
                     </div>
                     <div id="place">
                         <h4>BY PLACE</h4>
                         <p>Internships In Mumbai</p>
                         <p>Internships In Delhi</p>
                         <p>Internships In Bangalore</p>
                         <p>Internships In Pune</p>
                         <p>Internships In Hyderabad</p>
                     </div>
                     <div id="profile">
                             <h4>BY PROFILE</h4>
                             <p>Marketing Internships</p>
                             <p>Business Development Internships</p>
                             <p>Content Writing Internships</p>
                             <p>Graphic Designing Internships</p>
                             <p>HR Internships</p>
                             <p>Engineering Internships</p>
                     </div>
                     <div id="type">
                         <h4>BY TYPE</h4>
                         <p>Full Time Internships</p>
                         <p>Part Time Internships</p>
                         <p>Work From Home Internships</p>
                     </div>
                 </div>
                 <div id="lower_part">
                     <div id="detail">
                         <h3>FIND INTERNSHIP</h3>
                         <h3>POST INTERNSHIP</h3>
                         <h3>COURSES</h3>
                         <h3>TERMS AND CONDITIONS</h3>
                         <h3>PRIVACY POLICY</h3>
                         <h3>CONTACT US</h3>
                         <h3>ABOUT US</h3>
                         <h3>SITEMAP</h3>
                     </div>
                     <div id="year">
                         <h3>© 2015 - 2021 INTERNTHEORY. ALL RIGHTS RESERVED.</h3>
                     </div>
                 </div>
           </div>
      
            
           </div>
           
        

<script>
    

    let city_selection = document.getElementById("a5");
    let type_selection = document.getElementById("a6");
    let category_selection = document.getElementById("a7");

    city_selection.addEventListener("change", (event) => {
        let selected_city = event.target.value
        console.log('selected_city:', selected_city);

    })

    type_selection.addEventListener("change", (event) => {
        let selected_type = event.target.value;
        console.log('selected_type:', selected_type);
        
    })

    category_selection.addEventListener("change", (event) => {
        let selected_category = event.target.value;
        console.log('selected_category:', selected_category);
        
    })


    document.getElementById("img1").addEventListener("click" ,function(){
        location.href="http://localhost:2345/AllInternships"
    })

            
    document.getElementById("img3").addEventListener("click" ,function(){
        location.href="http://localhost:2345/Cart"
    })


    document.getElementById("img2").addEventListener("click" ,function(){
        location.href="http://localhost:2345/InternTheory"
    })

    document.getElementById("All-Internships").addEventListener("click" ,function(){
        location.href="http://localhost:2345/AllInternships"
    })

</script>
</body>
</html>