

    
    <%- include("partials/navbar", {title:"Internships", 
    css_href:"css/internship.css"}) %>

    <div id="body">
        <div class="image">
            <img src="https://assets.interntheory.com/creative/Internship_left_course_add_01.png">
        </div>

        <div class="course" >
            <div class="details" id="allCourse">
                <p id="p1" >All Internships</p>

                <!-- Courses -->
                <div class="intern1"  id="d1">
                    
                    <img src="https://assets.interntheory.com/creative/logo.png">
                    
                    <div class="details1">
                        <h3>Develop Your Skillset</h3>
                        <p>Online Skill Development Programs

                        Taught by Industry Experts Internship
                        
                        Certified Courses</p>
                        <p>Guaranteed Internship Opportunities</p>
                        <h4>Learn Industry-Demanded Skills</h4>
                    </div>  
                    <div class="apply1">
                        <p>4-6 Weeks</p>
                        <button><a id="a2" href="http://localhost:2345/Courses">UPGRADE SKILLS</a></button>
                    </div>  
                </div>
                <div id="line"></div>
                <!-- Interns -->
                <% internships_data.forEach(function(el){ %>
                <div class="intern1"  id="d1">
                    
                    

                    <img src= <%= el.image_url %> />

                    <div class="details1">
                        <h3><%= el.title %></h3>
                        <p><%= el.company_name %></p>
                        <p><%= el.type %></p>
                        <p><%= el.category %></p>
                        
                        <% let arr = "" %>
                        <% for (let i = 0; i < el.cities.length-1; i++){ %>
                        <% arr += el.cities[i] + "," %>
                        <% } %>
                        <% arr += el.cities[el.cities.length-1] %>
                        <!-- <% arr.slice(0,-1)%> -->
                        <p><%= arr %></p>
                        <h4>Stipend: <%= el.stipend %> </h4>
                        
                    </div>  
                    <div class="apply1">
                        <p><%= el.time_left %></p>
                        <button><a id="a3" href="http://localhost:2345/Marketing-Ambasssador">VIEW AND APPLY</a></button>
                    </div><br>
                </div>
                <div id="line"></div>
                <% }) %>
            </div> 
        </div>
        <div id="end"></div>
   </div>


   <div id="main">
    <div id="content">
         <div id="upper_part">
             <div id="image">
                 <img src="https://image.flaticon.com/icons/png/512/220/220200.png"/>
                 <img src="https://image.flaticon.com/icons/png/512/1409/1409945.png"/>
                 <img src="https://image.flaticon.com/icons/png/512/124/124021.png"/>
                 <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png"/>
             </div>
             <div id="place">
                 <h4>BY PLACE</h4>
                 <p>Internships In Mumbai</p>
                 <p>Internships In Delhi</p>
                 <p>Internships In Bangalore</p>
                 <p>Internships In Pune</p>
                 <p>Internships In Hyderabad</p>
             </div>
             <div id="profile">
                     <h4>BY PROFILE</h4>
                     <p>Marketing Internships</p>
                     <p>Business Development Internships</p>
                     <p>Content Writing Internships</p>
                     <p>Graphic Designing Internships</p>
                     <p>HR Internships</p>
                     <p>Engineering Internships</p>
             </div>
             <div id="type">
                 <h4>BY TYPE</h4>
                 <p>Full Time Internships</p>
                 <p>Part Time Internships</p>
                 <p>Work From Home Internships</p>
             </div>
         </div>
         <div id="lower_part">
             <div id="detail">
                 <h3>FIND INTERNSHIP</h3>
                 <h3>POST INTERNSHIP</h3>
                 <h3>COURSES</h3>
                 <h3>TERMS AND CONDITIONS</h3>
                 <h3>PRIVACY POLICY</h3>
                 <h3>CONTACT US</h3>
                 <h3>ABOUT US</h3>
                 <h3>SITEMAP</h3>
             </div>
             <div id="year">
                 <h3>© 2015 - 2021 INTERNTHEORY. ALL RIGHTS RESERVED.</h3>
             </div>
         </div>
   </div>
</div> 
</body>
</html>

<script>

    

    document.getElementById("img2").addEventListener("click" ,function(){
        location.href="http://localhost:2345/InternTheory"
    })

    document.getElementById("img3").addEventListener("click" ,function(){
        location.href="http://localhost:2345/Cart"
    })

    document.getElementById("img1").addEventListener("click" ,function(){
        location.href="http://localhost:2345/AllInternships"
    })

    
</script>




